.header {
  height: 186px;

  @media (min-width: 768px) {
    height: 326px;
  }

  @media (min-width: 1920px) {
    height: 213px;
  }

  & picture:first-child img {
    position: absolute;
    top: 0;
    left: 0;
  }

  & a picture {
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 1;

    & img {
      transform: translate(-50%);
      transition: 0.3s;

      &:hover {
        transform: translate(-50%) scale(1.03);
      }
    }

    @media (min-width: 768px) {
      top: 100px;
    }

    @media (min-width: 1920px) {
      top: 60px;
    }
  }

  & picture:nth-child(3) img {
    position: absolute;
    top: 0;
    right: 0;
  }
}