@import "src/styles/sass/utils";

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;

  .countdown__wrapper {
    max-width: 419px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1920px) {
      max-width: 838px;
    }

    .countdown__title {
      margin-bottom: 29px;

      @media (min-width: 768px) {
        margin-bottom: 33px;
      }

      @media (min-width: 1920px) {
        margin-bottom: 27px;
      }
    }

    .title {
      font-size: 36px;
      font-weight: 700;
      line-height: 37px;
      text-align: center;
      text-transform: uppercase;
      color: #162C4E;
      opacity: 0.39;

      @media (min-width: 1920px) {
        font-size: 72px;
        line-height: 75px;
      }
    }

    .text {
      line-height: rem(24);
      text-align: center;
      color: rgba(0, 0, 0, 0.8);

      @media (min-width: 1920px) {
        font-size: rem(18);
      }
    }

    .countdown__text {
      margin-bottom: 50px;
      max-width: rem(286);

      @media (min-width: 1920px) {
        max-width: rem(423);
        margin-bottom: 46px;
      }
    }

    .countdown__event-text {
      margin-bottom: 17px;
    }

    .countdown__link {
      background: #1D4169;
      border-radius: 40px;
      text-decoration: none;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;
      padding: 16px 20px 17px 28px;
      display: flex;

      & span {
        margin-right: 38px;
      }
    }
  }
}