@import "src/styles/sass/utils";
@import "src/styles/sass/variables";

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;

  .countdown__wrapper {
    max-width: 419px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1920px) {
      max-width: 838px;
    }

    .countdown__title {
      margin-bottom: 16px;

      @media (min-width: 768px) {
        margin-bottom: 20px;
      }

      @media (min-width: 1920px) {
        margin-bottom: 8px;
      }
    }

    .title {
      font-size: 36px;
      font-weight: 700;
      line-height: 37px;
      text-align: center;
      text-transform: uppercase;
      color: $base-color;
      opacity: 0.39;

      @media (min-width: 1920px) {
        font-size: 72px;
        line-height: 75px;
      }
    }

    .text {
      line-height: 150%;
      text-align: center;
      color: rgba(0, 0, 0, 0.8);

      @media (min-width: 1920px) {
        font-size: rem(18);
      }
    }

    .countdown__text {
      margin-bottom: 40px;
      max-width: rem(286);

      @media (min-width: 1920px) {
        max-width: rem(423);
        margin-bottom: 32px;
      }
    }

    .countdown__event-text {
      margin-bottom: 15px;
    }

    .countdown__link {
      background: #1D4169;
      border-radius: 40px;
      text-decoration: none;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;
      padding: 16px 20px 17px 28px;
      display: flex;
      margin-bottom: 86px;

      @media (min-width: 768px) {
        margin-bottom: 172px;
      }

      @media (min-width: 1920px) {
        margin-bottom: 76px;
      }

      & span {
        margin-right: 34.25px;
      }

      &:hover {

        & img {
          transition: 0.5s;
          transform: rotate(360deg);
        }
      }
    }
  }
}