.timer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 358px;
  margin-bottom: 40px;

  @media (min-width: 1920px) {
    max-width: 588px;
    margin-bottom: 72px;
  }
}