@import "src/styles/sass/variables";

.footer {
  height: 141px;
  background: $base-color;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    height: 160px;
  }

  @media (min-width: 1920px) {
    height: 192px;
  }

  & input {
    width: 280px;
    height: 41px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 0 58px 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 150%;

    @media (min-width: 768px) {
      width: 360px;
    }

    @media (min-width: 1920px) {
      width: 440px;
      height: 59px;
      font-size: 18px;
      padding: 0 76px 0 27px;
    }
  }

  .footer__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__submit-button {
      position: absolute;
      top: 4px;
      right: 4px;
      background-color: #DF2224;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;

      @media (min-width: 1920px) {
        width: 43px;
        height: 43px;
        top: 8px;
        right: 8px;
      }

      & picture {
        display: flex;
        user-select: none;

        & img {
          user-select: none;
        }
      }
    }

    .footer__input-error-wrapper {
      position: relative;
      width: 0;
      height: 0;

      &:after {
        content: "";
        position: absolute;
        border: 10px solid transparent;
        border-top: 10px solid red;
        transform: translate(-50%, -50%);
      }

      .footer__input-error {
        position: absolute;
        color: #FFFFFF;
        background-color: #DF2224;
        border: 1px solid red;
        border-radius: 3px;
        padding: 5px;
        bottom: 9px;
        transform: translate(-50%);
        white-space: nowrap;
      }
    }
  }
}